$text1_color: #40424a;
$text2_color: #808181;
$background1_color: #f2f7f8;
$background2_color: #f9f9f9;
$background3_color: #cacaca;
$background4_color: #cbcbcb;
$btn1_color: #fff;
$link1_color: $text1_color;
$link2_color: #838488;
$link3_color: #484848;
