@import '~app/ui/_common/styles/variables';
@import '~app/ui/_common/styles/bootstrap_boot.scss';

.header-section {
  padding: 50px 40px;
  background: $background1_color;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}

.site-logo p {
  font-size: 14px;
  line-height: normal;
}

.header-buttons a {
  margin-top: 15px;
}
