@import '~app/ui/_common/styles/variables';
@import '~app/ui/_common/styles/bootstrap_boot.scss';

.resume-section {
  &.with-bg {
    background-image: url('./assets/resume-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.resume-list {
  list-style: none;
  margin-left: 60px;
  padding-left: 110px;
  border-left: 2px solid $text1_color;

  li {
    margin-bottom: 120px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      border: 2px solid $text1_color;
      border-radius: 50px;
      background: $background3_color;
      top: 30px;
      left: -118px;
    }

    h2 {
      font-size: 72px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 16px;
      text-transform: uppercase;
      color: $text2_color;
      margin-top: 10px;
      margin-bottom: 45px;
    }

    p {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  @include media-breakpoint-down(xs) {
    h2 {
      font-size: 50px;
    }
  }
}
