@import '~app/ui/_common/styles/variables';

.site-logo h2 {
  display: inline-block;
  font-size: 36px;
  line-height: 36px;

  sup {
    font-size: 0.6em;
  }
}

.site-logo h2 a {
  color: $link1_color;
}
