@import '~app/ui/_common/styles/variables';

.site-logo h2 {
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 36px;

  a {
    position: relative;
    z-index: 2;
    color: $link1_color;
  }

  &::before {
    transition: width 0.25s;
    z-index: 1;
    position: absolute;
    content: ' ';
    background: $standout_color;
    width: 100%;
    height: 7px;
    bottom: 2px;
  }

  &:hover {
    &::before {

    }
  }
}
